{
  "root": true,
  "extends": "eslint:recommended",
  "rules": {
    "no-console": 0,
    "no-empty": "warn",
    "no-unused-vars": ["error", { "args": "none" }],
    "no-unexpected-multiline": "error",
    "no-unreachable": "error"
  },
  "globals": {
    "window": true,
    "process": true
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  }
}